    .powrot{

    position: absolute ;
    // dzieki absolute element nachodzi a nie przesuwa.
    color: gray;
    top: 50px;
    }

    .wiki{

        font-family: 'ONRAMP';
        border-radius: 50px;
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .button{
        text-decoration: none;
    }

   